html {
    font-size: 100%;
}

body {
    margin: 0;
    background-image: url("img/bg-blue.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#main {
    display: grid;
    grid-template-rows: 10vh 90vh;
}

#header {
    display: grid;
}

#pageTitle {
    margin: 2em;
}

#container {
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-areas:
    "sidebar subContainer";
}

#sidebar {
    display: grid;
    grid-area: sidebar;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "listsContainer"
    "projectsContainer";
    margin-left: 2em;
}

#listsContainer {
    display: grid;
    grid-area: listsContainer;
    grid-template-rows: repeat(3, 5vh);
}

#projectsContainer {
    display: grid;
    grid-area: projectsContainer;
}

#subContainer {
    display: grid;
    grid-area: subContainer;
    grid-template-rows: 5vh 1fr;
    grid-template-areas:
    "subContainerHeader"
    "subContainerList";
}

#subContainerHeader {
    display: grid;
    grid-area: subContainerHeader;
}

#subContainerList {
    display: grid;
    grid-area: subContainerList;
}

#addTodoDiv {
    display: grid;
    grid-template-columns: 5vw 15vw;
    height: 10vh;
    grid-template-areas:
    "plusSymbol addTodo";
    place-items: center;
}

#plusSymbol {
    display: grid;
    grid-area: plusSymbol;
    text-align: center;
    border: solid 1px;
    line-height: 2em;
    width: 2em;
    border-radius: 1em;
}

#addTodo {
    display: grid;
    grid-area: addTodo;
    justify-self: start;
}